
/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/*salers class and id*/



.salers-nav-bg{
	background: #4E73DF !important;
	z-index: 2000;
}

.salers-menu-link{
	color :white;
	margin-left: 10px;
	font-weight:600;
}

.salers-menu-link:hover{
	color :#E6ECF0;
	margin-left: 10px;
}

#salers-menu-items >.card{
	
	
}

#salers-others-informations{
	padding: 0px;



}


.salers-search-menu-input{
	border-radius: 20px;

}

.salers-navbar-actived{
 border-bottom: 3px solid #fff;

}

.salers-navbar{
	height: 50px 
}

.fixed-right{
	position: fixed !important;
	right: 8%;
}


.container-fluid{
	margin-left: 3%;
	margin-right: 3%;
}

.salers-bg-register-image{
	background-image: url('img/bg/salers.png') !important;
	background-position:center;
	background-size:cover;
	display:block!important;
}


.jktCD-main > li:hover > a{
	color:#4E73DF;
}



/*
	RETOUCHE DES MEDIA QUERIES

	les styles d'ici s'appliqueront en fonction de l'apercu de chaque device
*/

/*
 // Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) {
	.salers-xs-hidden{
		display: none !important;
	}

	.salers-navbar-icon{
		font-size: 25px;
	}
	/*ICI SI LE NOMBRE DE NAV-ITEM AUGMENTE FAUT MODIFIER WIDTH*/
	.navbar-nav > .nav-item{
		display: inline-block;
		width: 33.33%;
		
		text-align: center;
		display: inline !important;
	}
	
	.navbar-nav{
		flex-direction: row !important;
		margin-bottom: 10px;
	}
	.wrapper-salers-search-menu-input{
		width: 100%;
		margin:auto;
	}
	.salers-seach-form{
		width: 98%;
		margin-left:1%;
	}

	#salers-menu-items,#salers-text-intro-area, #salers-others-informations{
		display: none;
	}

	.container{
		margin-top:50px !important;
	}

	#salers-sales-queue{
		border:0px solid white;
	}

	.salers-navbar-actived{
		border-bottom:none;
		
	}
 }


/*
// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) {

	.salers-xs-hidden{
		display: none !important;
	}
	.salers-navbar-icon{
		font-size: 25px;
	}
	
	.navbar-nav > .nav-item{
		width: 25%;
		
		
	}

	 #salers-others-informations,#salers-text-intro-area{
		display: none;
	}
	
		/*c'est comme si on avait col-sm-7*/
	 #salers-sales-queue{
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	 }

	 #salers-menu-items{
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	 }

	 .salers-textlink-size-sm{
		font-size: 10px;
	 }

 }

/*
// Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.salers-xs-hidden{
		display: none !important;
	}
	
	.salers-navbar-icon{
		font-size: 25px;
	}

	.navbar-nav > .nav-item{
		width: 25%;
		
	}



}



/*
// Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

	}

/*
// Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 
	

 }

