
/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/*salers class and id*/



.salers-nav-bg{
	background: #4E73DF !important;
	
}

.salers-menu-link{
	color :white;
	margin-left: 10px;
}

#salers-menu-items >.card{
	
	
}

#salers-others-informations{
	padding: 0px;

	
	
	
	

}

.fixed-right{
	position: fixed;
	right: 8%;
}

.fixed-left {
 
}
.container-fluid{
	margin-left: 3%;
	margin-right: 3%;
}